<div class="row">
        <div class="row  d-flex justify-content-center">
                <div class=" col-4 text-center">
             <div class="card">
                <div class="card-header bg-light text-primary">
                    Authentification
                </div>
                <div class="card-body">
                    <div class="col-12 p-2">
                        <div class="input-group">
                            <span class="input-group-text bg-primary">
                                <i class="fa fa-user-o text-light"></i>
                            </span>
                            <input class="form-control" type="text" placeholder="Utilisateur">
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="col-12 p-2">
                            <div class="input-group">
                                <span class="input-group-text bg-primary">
                                    <i class="fa fa-lock text-light"></i>
                                </span>
                                <input class="form-control" type="password" placeholder="mot de passe">
                            </div>
    
                        </div>
    
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-12 p-2">
                        <button class=" btn btn-primary"> <i class="fa fa-check text-light"></i>Valider</button>
                    </div>
                </div>
            </div>
            </div>

        </div>

    </div>