<div class="row text-center  ">
    <div class="col-12">
        <table class=" table table-bordered table-striped table-hover border-primary mx-4">
            
                <thead class=" text-light bg-primary text-center  " style="background: white; " >
                </thead>
          <tbody id="Ajouter_imagelist">
             
            <tr>
              
               
            </tr>
          </tbody>

        </table>

    </div>

</div>
<script src="Bootstrap5.1.3/js/bootstrap.bundle.js"></script>
<script src="Bootstrap5.1.3/js/jquery.js"></script>
<script src="Bootstrap5.1.3/js/controller.js"></script>
 